@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Playfair+Display+SC&display=swap');

body {
    background-image: url(./images/white-wood.jpeg) ;
    margin: 0;
}

.aba-logo{
    width: 7rem;
    margin: .75rem 2rem .75rem 0;
}

.nav-container {
    position: fixed;
    width: 100vw;
    top:0;
}

.nav-bar {
    background-image: url(./images/white-wood.jpeg);
    padding: .5rem 6rem;
    display: flex; 
}

.toggle-button {
    position: absolute;
    top:1.5rem;
    right:1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.nav-menu { 
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    list-style-type: none;
    font-size: 14px;
    margin: .5rem;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.nav-menu, .reservation, .description {
    border-top-style: solid;
    border-top-color: #a7a5a5;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #a7a5a5;
    border-bottom-width: 1px;
    width: 90%;
    margin: auto;
    letter-spacing: 1px;
}


.landing-images {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-landing {
    object-fit: cover;
    object-position: 45% 85%;
    width: 40vw;
    margin: 1rem;
}

.right-landing {
    object-fit: cover;
    object-position: 85% 100% ;
    width: 60vw;
    margin: 1rem;
}

.reservation {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display SC', serif;
}

.reserve-form, .customer-info {    
    text-align: center;
}

.form-inputs {
    height: 2.5rem;
    margin-right: -6px;
}

select, input {
    text-align: center;
    width: 20%;
    height: 2.75rem;
    padding:0;
    margin-right: -6px;
}
.reserve-btn {
    height: 2.75rem;
}

.reserve-btn, .section-btn {
    border: none;
    background-color: #012b44;
    color: #ecfafd;
}

.customer-info {
    display: none;
}

.page-section{  
    margin-top: 4rem;    
    margin-bottom: 4rem; 
    display: flex;
    align-items: center;
}

.description {      
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}

.left-text, .right-text{
    width: 55%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.section-btn {
    text-transform: uppercase;
    font-family: 'Playfair Display SC', serif;
    padding: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.right-img{ 
    object-fit: cover;
    width: 350px;
    height: 350px;
    position: relative;
    left: 72%;
}

.right-text {
    float: right;
}

.left-img {
    position: relative;
    object-fit: none;
    width: 350px;
    height: 350px;
    right: -3%;
}

.footer-section {
    background-image: url(./images/Aba-wood-1.jpg);
    padding: 1rem;
    color: white;
}

.footer-info {
    display:flex;
    justify-content: space-evenly;
    float: right;
    width: 50%;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 9rem;
    font-family: 'Montserrat', sans-serif;
}

.footer-title {
    font-family: 'Playfair Display SC', serif;
}

.contact-info, .contact-info a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
}

.footer-links {
    font-size: small;
     margin: auto;
     width: 70%;
     display: flex;
     justify-content: space-around;
 }

.footer-links li  {
    font-family: 'Playfair Display SC', serif;
    list-style-type: none;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

/* Screen Sizes 960px and smaller */
@media (max-width: 768px) {
    .nav-bar {
        padding: 0 3rem;
    }

    .nav-menu li {
        font-size: 10px;
    }

    .left-landing {
        display: none;
    }

    .right-landing {
        object-position: 85%;
        width: 100%;
        margin:0;
    }

    .description {  
        display:flex;
        align-content: center;
        width: 50vw;
        position: relative;
        border: none;
    }

    .left-text, .right-text{
        width: 100%;
    }
 
    .right-img{ 
        width: 50%;
        left: 0;
        width: 400px;
        height: 400px;
    }
    
    .right-text {
        position: relative;
    }
   
    .left-img {
        width: 50%;
        right: 0;
        width: 400px;
        height: 400px;
    }

    .footer-info {
        display:block;
        text-align: center;
        width: 100%;
        margin: auto;
        margin-bottom: 3rem;
    }
    .footer-links {
        font-size: x-small;
     } 

}
@media (max-width: 480px) {
    .aba-logo {
       width: 4rem;
    }
    header{
        /* position: fixed; */
  /* right: 0;
  left: 0;
  top: 0;
  z-index: 1030; */

        /* background-color: white; */
    }

    .toggle-button {
        display: flex;
        z-index: 7;
    }
    .nav-bar {
        /* display: block; */
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        /* position: fixed; */
        /* text-align: right; */
        /* top:100%; */
        /* right:0; */
    }

    .nav-menu {
        padding:0;
        /* border: 2px solid red; */
        flex-direction: column;
        border: none;
        width:100%;
        display: none;
        /* position: fixed; */
        margin:0;
        z-index: 10;
        /* flex-direction: column;
        margin:0;
        padding:0;
        display: block; */
    }
    
    .nav-item {
        text-align: center;
    }

    .nav-link {
        font-size: 1rem;
        padding: .5rem 1rem;
    }

    .nav-menu.active {
        display: flex;
    }
    
    .right-landing {
        margin: 0;
        width: 100%;
        object-position: 77%;

    }

    .reserve, .customer-form {   
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* white-space: pre; */
    }

    select, input, .form-inputs {
        width: 40%;
       margin: auto;
    }
    .page-section{  
        display: block;
        z-index: 0;

    }

    .description {  
        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;
        border: none;
        padding:0;
    }

    .left-img {
       left: 0;
       margin-top: 2rem;
    }

    .right-img {
        object-fit: cover;
    }
    .right-img, .left-img {
        width: 100%;
        /* margin: auto; */
    }
    .right-text {
        position: initial;
    }

    .left-text, .right-text{
        width: 100%;
        margin:0;
    }

    footer {
        background-size: cover;
    }
    .footer-links {
        font-size: 6px;
     }

    .location-info {
        color: white;
    }
}